*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}
h1 {
    margin-top: 60;
    font-size: 3.052em;
    padding: 0 0 2rem;
    font-family: fantasy;

}
#motion-demo {
    offset-path: path('M20,20 C20,100 200,0 200,100');
    offset-position: left top;
    animation: move 3000ms infinite alternate ease-in-out;
    width: 40px;
    height: 40px;
}
@keyframes move {
    0% {
offset-distance: 0%;
}
    100% {
offset-distance: 100%;
}
}
#image {
    background-image: url(http://www.clker.com/cliparts/7/C/S/R/g/o/tornado-md.png);
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}
nav {
    position: absolute;
    left: 500px;
    width: 500px;
}
body {
    font-size: 1rem;
    margin: 200;
    padding: 100;
    background-image: repeating-linear-gradient(hotpink, chartreuse, hotpink);
}
section {
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: italic small-caps bold 24px/2 cursive;
    margin: 5rem;
    padding: 5rem;
    outline-offset: 0.5rem;
}
.wrapper {
    margin: 0 auto;
    max-width: 90rem;
}